@define TotalLength: 30s;
@define TimingFunc: linear;
@define IterationCount: 1;

.OverthrowLoadingRoot
{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: clip;
}

#GameModeDescription
{
    font-size: 27px;
	text-transform: uppercase;
	color: #cccccc;
}

#GameModeHints
{
	margin: 10px;
	font-size: 18px;
	color: #8f9092;
}

#GameModeImage
{
	horizontal-align: center;
	width: 200px;
	height: 150px;

	box-shadow: inset black 5px 5px 10px 10px;
}

#TitlePanel
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 150px;
	margin-left: 100px;
	flow-children: right;
}

#OverthrowIcon
{
	width: 80px;
	height: 80px;
	vertical-align: center;
	margin-right: 15px;
}

#OverthrowTitle
{
	margin-bottom: -15px;
	vertical-align: center;
	text-transform: uppercase;
	font-size: 80px;
	color: #cccccc;
	text-shadow: 2px 2px 2px #000000;
}

.SeqImg
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

.SeqBg
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

#seq
{
    overflow: clip;
	pre-transform-scale2d: 1.35, 1.35;
}

@keyframes 'x' {}

#seq_bg
{
	animation-name: seq_bg_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
    margin-left: 0px;
}

@keyframes 'seq_bg_anim'
{
	0%
	{
	}

	100%
	{
	}
}

#seq_beastmaster_pets
{
	margin-left: 1015px;
	margin-top: 120px;
	animation-name: seq_beastmaster_pets_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
}

@keyframes 'seq_beastmaster_pets_anim'
{
	0%
	{
		transform: translateX( 50px ) translateY( 10px );
        pre-transform-scale2d: 0.90;
	}

	100%
	{
	}
}

#seq_beastmaster
{
	margin-left: 435px;
	margin-top: 140px;
	animation-name: seq_beastmaster_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
}

@keyframes 'seq_beastmaster_anim'
{
	0%
	{
		transform: translateX( 80px ) translateY( -20px );
	}

	100%
	{
	}
}

#seq_juggernaut
{
	margin-left: 400px;
	margin-top: 325px;
	animation-name: seq_juggernaut_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
	pre-transform-scale2d: 0.90;
}

@keyframes 'seq_juggernaut_anim'
{
	0%
	{
		transform: translateX( 120px ) translateY( 20px );
	}

	100%
	{
	}
}

#seq_luna
{
	margin-left: 8px;
	margin-top: 0px;
	animation-name: seq_luna_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
	pre-transform-scale2d: 1.05;
}

@keyframes 'seq_luna_anim'
{
	0%
	{
		transform: translateX( 120px ) translateY( 50px );
	}

	100%
	{
	}
}

#seq_coins
{
	margin-left: -150px;
	margin-top: 200px;
	animation-name: seq_coins_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
}

@keyframes 'seq_coins_anim'
{
	0%
	{
		transform: translateX( 200px ) translateY( -100px );
	}

	100%
	{
	}
}

#SettingsListLabel
{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

#hero1
{
	horizontal-align: center;
}

.MyButtonLabel
{
	horizontal-align: left;
	margin-left: 5px;
}

.MyButtonSchet
{
	horizontal-align: right;
	margin-right: 5px;
}

#SettingsList
{
    width: 290px;
	height: 180px;
	flow-children: down;    
    padding-left: 16px;
	padding-right: 16px;
    margin-left: 16px;
    margin-top: 6%;
    background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
    box-shadow: black -4px -4px 8px 8px;
}

.MyButton
{
   background-color: #121618;
   border: 3px solid #4d5051;
   horizontal-align: left;
   vertical-align: top;
}

.MyButton:hover
{
   border: 3px solid white;
}