.perk_choice_root {
	width: 100%;
	height: 100%;
}

#perk_choice_container {
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 250px;
	flow-children: down;
	background-image: url("file://{resources}/images/custom_game/leaderboards/leaderboards_background_1.png");
	background-size: 100%;
	box-shadow: fill #000000 0px 0px 7px 1px;
	visibility: collapse;
}

#perk_choice_label {
	color: #ffffffff;
	margin-top: 8px;
	horizontal-align: center;
	vertical-align: center;
	font-size: 24;
	font-weight: bold;
	font-family: "DejaVu Sans";
	font-family: titleFont;
	text-transform: uppercase;
	text-shadow: 1px 1px 8px 3 #000000ff;
	letter-spacing: 1px;
}

#perk_choice_row {
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 8px;
	flow-children: right;
}

.perk_container {
	flow-children: down;
}

.perk_container:hover {
	brightness: 1.4;
}

.perk_choice {
	align: center center;
	margin-left: 4px;
	margin-right: 4px;
	height: 64px;
	width: 64px;
	border-radius: 2px;
	border: 2px solid #121816d0;
}

.perk_text {
	width: 120px;
	text-align: center;
	color: #ffffffff;
	margin-top: 4px;
	horizontal-align: center;
	vertical-align: center;
	font-size: 14;
	font-weight: bold;
	font-family: "DejaVu Sans";
	text-shadow: 1px 1px 3px 2 #000000ff;
}

#remaining_time {
	width: 100%;
	height: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
	margin-right: 8px;
	border-radius: 6px;
	horizontal-align: center;
	vertical-align: center;
	background-color: gradient(linear, 0% 100%, 0% 0%, from(#000000ff), color-stop(0.1, #0a4088ff), to(#609ae0ff));
}

#remaining_time .ProgressBarLeft {
	background-color: gradient(linear, 0% 100%, 0% 0%, from(#000000ff), color-stop(0.1, #0a4088ff), to(#609ae0ff));
}
