
#UltimateIndicatorBG
{
    background-image: url("file://{resources}/images/custom_game/import_dota/ulti_base_png.png");
}

.player_ultimate_hidden #UltimateIndicatorBG
{
	opacity: 0;
}

#UltimateIndicator
{
	opacity: 0;
}

.player_ultimate_ready #UltimateIndicator
{
	opacity: 1;
    background-image: url("file://{resources}/images/custom_game/import_dota/ulti_achieved_png.png");
}

.player_ultimate_no_mana #UltimateIndicator
{
	opacity: 1;
    background-image: url("file://{resources}/images/custom_game/import_dota/ulti_achieved_blue_png.png");
}

.player_ultimate_not_leveled #UltimateIndicator
{
	opacity: 1;
    background-image: url("file://{resources}/images/custom_game/import_dota/ulti_base_png.png");
}

.player_ultimate_cooldown #UltimateIndicator
{
	opacity: 1;
    background-image: url("file://{resources}/images/custom_game/import_dota/ulti_buildup_png.png");
}

